

#principal {
  width: 960px;
  height: 640px;
  background-color: darkcyan;
  background-image: cross-fade(3px);
  padding: 10px;
  border-style: solid;
  border-radius: 5%;
  border-color: rgba(255, 255, 255, 0.699);
  margin-top: 6%;
  margin-left: 25%;
  box-shadow: 0px 0px 20px rgb(12, 177, 75);
  animation: colors 2s linear 0s;
  animation-iteration-count: infinite;
}

#izquierda {
  width: 500px;
  height: 480px;
  background-color: darkslategray;
  float: left;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  color: aliceblue;
  border-radius: 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

/*#derecha{
    width: 960px;
    height: 160px;
    background-color: rgb(74, 102, 102);
}*/

#derecha {
  width: 460px;
  height: 480px;
  background-color: rgb(74, 102, 102);
  float: right;
  border-radius: 5%;
  display: flex;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  background: linear-gradient(to bottom, #3366cc 0%, #003300 100%);
}

p {
  text-align: center;
  text-align: justify;
  padding: 5%;
  margin-top: 10%;
}

img {
  border-radius: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(https://th.bing.com/th/id/R.1e1ebcb74f633c0e1b0211d00660bfad?rik=U%2fhqn0cUtC4Shg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fb%2f6%2f5%2f373703.jpg&ehk=B7aPIQoZ%2b6v0fpGGKY4kWJZVJ7%2f%2b7SP0NSkbI4xq0Yg%3d&risl=&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  
}
@keyframes colors {
  0% {
    background-color: rgba(19, 99, 62, 0.250);
  }

  25% {
    background-color: rgba(19, 99, 62, 0.500);
  }

  50% {
    background-color: rgba(19, 99, 62, 0.750);
  }

  75% {
    background-color: rgba(19, 99, 62, 0.500);
    ;
  }

  100% {
    background-color: rgba(19, 99, 62, 0.250);
  }

}





.moneda-cont {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: darkslategray;
  background-image: url(https://th.bing.com/th/id/R.dc5cf4137c13631f9ad2d3057a63712b?rik=hnl%2flwYkMSRI1g&pid=ImgRaw&r=0);
  background-repeat: repeat-x;
  background-size: auto 100%;
  border-radius: 10%;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  color: aliceblue;
  float: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}


@keyframes neon2 {
  0% {
    box-shadow:
      5px 5px 20px #ffd000,
      10px 10px 30px #f09000,
      15px 15px 110px #923c26;
    ;
  }

  25% {
    box-shadow:
      5px 5px 30px #ffd000,
      10px 10px 40px #f09000,
      15px 15px 120px #923c26;
    ;
  }

  50% {
    box-shadow:
      5px 5px 40px #ffd000,
      10px 10px 50px #f09000,
      15px 15px 130px #923c26;
    ;
  }

  75% {
    box-shadow:
      5px 5px 30px #ffd000,
      10px 10px 40px #f09000,
      15px 15px 120px #923c26;
    ;
  }

  100% {
    box-shadow:
      5px 5px 20px #ffd000,
      10px 10px 30px #f09000,
      15px 15px 110px #923c26;
    ;
  }
}


body {
  position: relative;
}

.contenedor-button {
  width: 400px;
  height: 100px;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-left: 42%;

  background-color: #fcc55e;
  position: relative;

}

.contenedor-button:hover {
  background-color: #923c26;
  animation: neon2 2s;
  animation-iteration-count: infinite;
}

.hijo-button {
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  background-color: #ff9900;
  box-shadow:
    0 0 10px #ffd000,
    0 0 20px #f09000,
    0 0 100px #923c26;
  border-radius: 10px;
  animation-iteration-count: infinite;

}


.img_wiki{

   width: 100px;
   margin: 0% auto;
   justify-content: center;
   display: flex;

  }

  .img_wiki:hover{
    filter: brightness(10);
  }
